</div>
<footer class="footer">
<div class="container">
  <div style="color: white;" class="text-center">Made with ♥️ by KurzGedanke!</div>
  <div class="text-right">
    <a href="{{ .Site.BaseURL }}impressum" style="color: white;">Impressum</a>
  </div>
</div>
</footer>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/popper.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/script.js"></script>
</html>
