<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="page-heading">{{ .Title }}</div>
        <div class="social-network-icons">
          <span class="social-icon">
            <a href="https://github.com/KurzGedanke">GitHub</a>
          </span>
          <span class="social-icon">
            <a href="https://dev.to/kurzgedanke">Dev.to</a>
          </span>
          <span class="social-icon">
            <a href="https://chaos.social/@kurzgedanke">Mastodon</a>
          </span>
          <span class="social-icon">
            <a href="https://youtube.com/KurzGedanke">YouTube</a>
          </span>
          <span class="social-icon">
            <a href="mailTo:kurzgedanke@protonmail.com">Mail</a> <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0x561D15FE3FC1E9A5" target="_blank">(PGP)</a>
          </span>
          <span class="social-icon">
            <a href="bitcoin:3HPq9STc28sKp2peitTkwrs4wsoZDx4Xfi">Bitcoin</a>
          </span>
          <span class="social-icon">
            <a href="https://feeds.feedburner.com/KurzGedanke" type="application/rss+xml">RSS</a>
          </span>
        </div>
        <hr>
      </div>
    </div>
  </div>
</header>
