<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="page-heading">{{ .Title }}</div>
        <div class="social-network-icons">
          <span class="social-icon">
            <a href="https://github.com/KurzGedanke">GitHub</a>
          </span>
          <span class="social-icon">
            <a href="https://twitter.com/KurzGedanke">Twitter</a>
          </span>
          <span class="social-icon">
            <a href="https://youtube.com/KurzGedanke">YouTube</a>
          </span>
          <span class="social-icon">
            <a href="mailTo:kurzgedanke@gmail.com">Mail</a>
          </span>
          <span class="social-icon">
            <a href="bitcoin:14U8Cdwu67zX5voQsqCu1Vbp9vV31VbxbP">Bitcoin</a>
          </span>
          <span class="social-icon">
            <a href="index.xml" rel="feed" type="application/rss+xml">RSS</a>
          </span>
        </div>
        <hr>
      </div>
    </div>
  </div>
</header>