<!-- Navbar -->
<div class="container">
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <a class="navbar-brand" href="{{ "" | absLangURL }}">KurzGedanke!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ "" | absLangURL }}">Home<span class="sr-only">(Current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ "" | absLangURL }}page/about/">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ "" | absLangURL }}projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ "" | absLangURL }}tags">Tags</a>
        </li>
      </ul>
    </div>
  </nav>